/* Style Sheet */
body {
    background-color: #004225; /* Updated background color */
    font-family: 'Times New Roman', Times, serif;
    color: #F5F5DC; /* Default text color for body */
    line-height: 1.6; /*adjusting line head for text for accessibility purposes*/
}

main {
    padding: 10px;
    margin: 10px;
}

header {
    text-align: center;
    color: #FFB000;
    text-shadow: 2px 2px 4px black;
}

h1 {
    font-size: 4em;
    padding: 0px;
    margin: 0px;
}

h2 {
    padding: 0px;
    margin: 5px;
    color: #FFB000;
    text-shadow: 2px 2px 4px black;
}

h3 {
    padding: 0px;
    margin: 5px;
    color: #FFB000;
    text-shadow: 2px 2px 4px black;
}

p {
    margin: 0px;
    color: #F5F5DC; /* Text color for paragraphs */
}

nav {
    height: auto;
    position: relative;
    left: auto;
    outline: none;
    border: 10px solid goldenrod;
    background-color: #002244;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 5;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline;
}

nav li a {
    color: #F5F5DC; /* Text color for navigation links */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    color: #F5F5DC; /* Text color for list items */
}

#active {
    color: #FFCF9D;
    font-weight: bold;
}

/* this adjusts the website to different screen sizes */
@media screen and (max-width: 600px) {
    /* set up a grid layout */
    .container {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 20px;
    }

    /* set images to the size of the container */
    img {
        width: 100%;
        height: auto;
    }
}

/* Style for the dropdown button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Container for the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Hidden dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change link color on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* links styling */
#Maps a {
    color: #F5F5DC; /* Text color for map links */
    padding: 14px 16px;
    text-decoration: none;
}

